.main-header {
  align-items: center;
  font-size: 0.8em;

  z-index: 0;
  display: none;
  background-color: $sidebar-color;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    background-color: $body-background-color;
    border-bottom: $border $border-color;
  }

  &.nav-open {
    display: block;

    @include mq(md) {
      display: flex;
    }
  }
}