<footer>
    <a href="http://sandia.gov/" rel="noopener noreferrer" target="_blank" style="text-decoration: none">
        <img alt="Sandia National Laboratories" longdesc="http://sandia.gov" src="https://sandialabs.github.io/assets/images/SNL_Horizontal_White.png" style="height:37px">
    </a>
    &nbsp;
    <a href="http://energy.gov" rel="noopener noreferrer" target="_blank" style="text-decoration: none">
        <img alt="U.S. Department of Energy" longdesc="http://energy.gov" src="https://www.sandia.gov/_common/images/doe_logo_white.png" style="height:37px">
    </a>
    &nbsp;
    <a href="http://nnsa.energy.gov/" rel="noopener noreferrer" target="_blank" style="text-decoration: none">
        <img alt="National Nuclear Security Administration" longdesc="http://nnsa.gov" src="https://www.sandia.gov/_common/images/nnsa_logo_white.png" style="height:37px">
    </a>
</footer>