<span style="float:right;">
  <a style="text-decoration: none" href="https://github.com/sandialabs/Polymers">
    <i class="fa-brands fa-github fa-2xl""></i>
  </a>
  <a style="text-decoration: none" href="https://discord.gg/yC6dbPuc">
    <i class="fa-brands fa-discord fa-2xl""></i>
  </a>
  <a style="text-decoration: none" href="https://github.com/sandialabs/Polymers/tree/main/rust#polymers-modeling-library">
    <i class="fa-brands fa-rust fa-2xl""></i>
  </a>
  <a style="text-decoration: none" href="https://github.com/sandialabs/Polymers/tree/main/python#polymers-modeling-library">
    <i class="fa-brands fa-python fa-2xl""></i>
  </a>
  <a style="text-decoration: none" href="https://github.com/sandialabs/polymers/blob/main/LICENSE">
    <i class="fa fa-scale-balanced fa-2xl""></i>
  </a>
</span>