<br>
<span style="float: right">
  <a style="text-decoration: none" href="https://github.com/sandialabs/Polymers">
    <iconify-icon icon="fa-brands:github" height="2em"></iconify-icon>
  </a>
  <a style="text-decoration: none" href="https://mybinder.org/v2/gh/sandialabs/Polymers/main">
    <iconify-icon icon="file-icons:binder" height="2em"></iconify-icon>
  </a>
  <a style="text-decoration: none" href="https://discord.gg/9gy8tTktD5">
    <iconify-icon icon="fa-brands:discord" height="2em"></iconify-icon>
  </a>
&nbsp;
</span>